<form
    style="display:none;"
    method="post"
    action="/cart/add"
    accept-charset="UTF-8"
    class="shopify-product-form"
    enctype="multipart/form-data"
  >
    <input
      class="needToAddVariant"
      name="id"
      type="hidden"
      value="47901686563099"
      data-variants
    >
    <input
      type="radio"
      id="appstle_selling_plan_label_20"
      name="selling_plan"
      value="689977786651"
      checked=""
      tabindex="2"
    >
  
    <label for="boxItems">Box Items:</label>
    <input type="text" name="properties[Box Items]" id="boxItems" >

    <button
      type="submit"
      name="add"
      class="button finalAddBtn"
      data-label="Add to cart"
      data-add-to-cart-trigger=""
    >
      ADD TO CART
    </button>
  </form>