{%- liquid
  assign icon-plus = 'plus'
  assign icon-minus = 'minus'
-%}
<div id="cartItemTemplate" style="display: none;">
  <div id="%cartItemId%" data-linkedProd="%isLinkedProd%" data-VariantId="%cartItemVariantId%" data-extraProdMainProdId="%extraProdMainProdId%" class="customCartItem">
    <div class="customCartItemImg">
      <img src="%cartItemImg%" alt="img" loading="lazy" height="96" width="96" class="boxImg lazyload">
    </div>
    <div class="customCartItemInfo">
      <p class="itemName is-h5">%cartItemName%</p>
      <p class="cartItemsInfo is-text-small">%cartItemsVariants%</p>      
      
      <div class="cartQtyAndPrice">
        <div class="qtyBox" data-currentQty="%cartItemQtyData%">
          <button class="qtyMinus">
            {% render 'icon', name: icon-minus %}
          </button>
          <input class="qtyField" type="text" readonly value="%cartItemQty%">
          <button class="qtyPlus">
            {% render 'icon', name: icon-plus %}
          </button>          
        </div>
        <span class="numberOfUnits" style="display:none">%numberOfUnits%</span>
        <span class="cartItemPrice is-text-small">$%cartItemPrice%</span>
      </div>
    </div>
  </div>
</div>

<div class="customCartContainer">
  <button type="button" class="cartCloseBtn"> {% render 'closeIcon' %} </button>
  <div class="customCartHeader">
    <h2 class="totalMeals is-h5">Your Meals (<span class="totalCartItems">0</span>)</h2>
    <button class="removeAllCart">Remove All</button>
  </div>
  <div class="cartItemsList mainCartItemsList"></div>
  <div class="customCartHeader addOnHeader" style="display:none;">
    <h2 class="totalMeals is-h5">Add-ons (<span class="totalAddOnItems">0</span>)</h2>
  </div>
  <div class="cartItemsList addOnsList"></div>
</div>

<div class="cartDrawerFooter">
  <p class="footerTxtRow cartSubTotalRow">Subtotal <span class="cartSubtotal">$0.0</span></p>
  {% if customer %}
    {% assign order_count = customer.orders_count %}
    {% if order_count < 1 %}
      <p class="footerTxtRow discountCodeLine"><span class="discountLabel">Discount <span class="discountIcon">{% render 'dicountIcon' %}neworder</span></span> <span class="discountPrice">$0.0</span></p>
    {% endif %}
  {% endif %}
  
  <p class="footerTxtRow shippingTxtRow">
    Shipping
    {% if settings.ShippingCharges == '0' or settings.ShippingCharges == '0.0' -%}
      <span class="shippingCharges">FREE</span>
    {% else %}
      <span class="shippingCharges">${{ settings.ShippingCharges }}</span>
    {% endif %}
  </p>
  <p class="footerTxtRow estimatesSaleTaxRow" style="display:none;">
    Estimated Sales Tax
    <span class="estimatedTax">$0</span>
  </p>
  <p class="footerTxtRow orderTotalRow">
    Order Total
    <span class="orderTotalPrice">$0.0</span>
  </p>
  <div class="nextMoveBtn">
    {% if showCheckout %}
      <button type="button" class="finalAddToCartBtn button button--primary">Checkout</button>
    {% else %}
      <button type="button"  class="addonStep button">Add-Ons</button>
    {% endif %}
  </div>
</div>
