<button
  class="quickMealAddBtn button"
  data-cartItemId="cartItem-{{ product.id }}"
  data-productName="{{ product.title }}"
  data-productImg="{{ product.featured_image | img_url:'master' }}"
>
  <span class="bagIcon">
    {% render 'addToCartIcon' %}
  </span>
  <span class="tickIcon">
    {% render 'tickIcon' %}
  </span>
</button>
