@font-face {
    font-family: 'BirthstoneBounce-Medium';
    src: url('https://cdn.shopify.com/s/files/1/0846/1815/0171/files/BirthstoneBounce-Medium.ttf?v=1707498967') format('ttf'),
        url("https://cdn.shopify.com/s/files/1/0846/1815/0171/files/BirthstoneBounce-Medium.woff2?v=1707763039") format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* common css code start  */
.hideScroll,
body.hideScroll {
    overflow: hidden !important;
}

html,
body {
    scroll-behavior: smooth;
}



.is-width-standard {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0px auto !important;
    padding: 0 48px;
}

.bannerCaptionContainer.caption {
    width: 100%;
    max-width: 100%;
    padding: 0 48px !important;
}

img.boxImg {
    display: block;
    width: 100%;
    height: auto;
}

a.button,
button.button {
    font-size: 16px !important;
    font-weight: 600 !important;
    letter-spacing: 0 !important;
    line-height: 22px !important;
    text-align: center !important;
}

/* common css code end  */

/* header css code start  */
a.header__link.specialLoginBtn span.icon-caption {
    display: inline;
}

a.header__link.specialLoginBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-width: 122px;
    min-height: 46px;
    border-radius: 15px;
    background: linear-gradient(315deg, #F15D5E 0%, #EDF67D 100%);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
}

a.header__link.specialLoginBtn span.icon.header__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    margin-right: 4px;
}

a.header__link.specialLoginBtn span.icon.header__icon svg {
    width: 100%;
    height: 100%;
}

.header-cart.action-area__link {
    display: none !important;
}

.header--classic nav.header__menu-items.is-justify-start {
    margin-left: 48px;
}

header.header {
    border-radius: 0 0 24px 24px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

div.header-sticky-wrapper {
    min-height: 112px;
}

/* header css code end  */


/* =============================== HOME PAGE START ===============================  */

/* slide show hero section css code start  */
.bannerCaptionContainer .caption-content {
    padding: 20px 0;
}

a.button {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
}

.bannerCaptionContainer h2.slideshow-classic__heading.banner__heading.title.is-h1 {
    line-height: 85px;
}

.bannerCaptionContainer h2.slideshow-classic__heading.banner__heading.title {
    margin-bottom: 8px;
}

.bannerCaptionContainer .slideshow-classic__subheading.banner__subheading.subtitle {
    margin-top: 0;
    margin-bottom: 32px;
}

.slideshow-classic__subheading.banner__subheading.subtitle.is-h5 {
    line-height: 35px;
}


.bannerCaptionContainer.caption a.button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 54px;
    min-width: 216px;
}

.mainSlideShowSec .customStyleSlideShow .slideshow-classic__banner.columns.one-whole {
    border-radius: 24px;
    width: 95%;
    margin: 0 8px;
}


button.flickity-button.previous svg.arrowIcon {
    transform: scaleX(-1);
}

button.flickity-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    outline: none !important;
    border: 0px solid !important;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
    box-shadow: none !important;
}

button.flickity-button svg.arrowIcon {
    width: 30px;
    height: 30px;
}

.mainSlideShowSec button.flickity-button {
    top: 50% !important;
    transform: translateY(-50%);
}

ol.flickity-page-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

ol.flickity-page-dots li.dot {
    opacity: 0.4;
    height: 6px;
    width: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6px;
}

ol.flickity-page-dots li.dot.is-selected {
    height: 10px;
    width: 10px;
}

.mainSlideShowSec .customStyleSlideShow ol.flickity-page-dots {
    position: relative !important;
    width: 100% !important;
    top: unset !important;
    bottom: unset !important;
    margin: 24px 0 !important;
}

.mainSlideShowSec .customStyleSlideShow .flickity-prev-next-button.previous {
    left: 28px;
}

.mainSlideShowSec .customStyleSlideShow .flickity-prev-next-button.next {
    right: 28px;
}

/* slide show hero section css code end */

/* featured collection product section css code start  */

h3.secSubHeading {
    display: flex;
    align-items: center;
}


.container.featuredCollectionHeading.align-center {
    text-align: center;
    justify-content: center;
    width: 100%;
}

.container.featuredCollectionHeading.align-left {
    text-align: left;
    justify-content: flex-start;
}

.container.featuredCollectionHeading.align-right {
    text-align: right;
    justify-content: flex-end;
}

.featuredCollecionSec.is-width-wide.hasSlider {
    padding-left: 48px;
}

.container.featuredCollectionHeading.align-center {
    max-width: 600px;
    margin-bottom: 40px;
}

.featuredCollectionHeading .heading-wrapper--featured-collection {
    margin-bottom: 16px;
}

.featuredCollectionHeading h3.secSubHeading.is-text {
    line-height: 26px;
}

.featuredCollectionItemContainer .one-fourth.medium-down--one-half.small-down--one-whole.column.thumbnail {
    margin-left: 0 !important;
    margin-right: 16px !important;
    width: calc(24.5% - 16px);
    padding: 0 !important;
}

button.flickity-button.flickity-prev-next-button[disabled] {
    opacity: 0 !important;
}

.featuredCollecionSec button.flickity-button.flickity-prev-next-button.next {
    height: 40px;
    width: 40px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2) !important;
}

.featuredCollecionSec button.flickity-button.flickity-prev-next-button.next {
    right: 28px;
}

.featuredCollecionSec button.flickity-button.flickity-prev-next-button.previous {
    left: 0;
}

.product__thumbnail .product-image__wrapper {
    border-radius: 16px;
    overflow: hidden;
    position: relative;
}


.product-thumbnail {
    padding: 0;
    margin-top: 16px;
}

.product-thumbnail a.is-h6.product-thumbnail__title {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 23px;
}

.prodAttributeItems {
    margin-top: 5px;
    color: #463F3A;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    opacity: .6;
}

.prodAttributeItems span:not(:last-child)::after {
    content: "";
    height: 4px;
    width: 4px;
    opacity: 0.6;
    background-color: #463F3A;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
}

.prodAttributeItems span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.featuredCollecionSec .buttons {
    margin-top: 40px;
}

.featuredCollecionSec .buttons a.button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 54px;
    min-width: 224px;
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
}

.featuredCollecionSec .buttons a.button.button--primary {
    border: 1px solid #463F3A;
}

.purchase-details__buttons button.button.quickAddBtn {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    border-radius: 16px;
    background-color: #FFFFFF;
    border: 1px solid #fff;
    color: #463F3A;
}

.purchase-details__buttons button.button.quickAddBtn span.text.btnTxtWithPrice {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 25px;
    height: 25px;
}

.purchase-details__buttons button.button.quickAddBtn span.text.btnTxtWithPrice svg {
    width: 100%;
    height: 100%;
}


.product__thumbnail .product-image__wrapper form.shopify-product-form {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px;
    width: 100%;
    align-items: flex-end;
}

/* featured collection product section css code end  */

/* index heading section css code start  */
.headingAndBtnSection .headingTopImg {
    width: 100%;
    max-width: 483px;
    margin-bottom: 38px;
}

.headingAndBtnSection .heading-section__content.is-align-center.text-align-center {
    max-width: 664px;
    margin: 0px auto;
}

.headingAndBtnSection h2.heading-section__heading.title.is-h3 {
    line-height: 54px;
}

.headingAndBtnSection h2.heading-section__heading.title {
    margin-bottom: 16px;
}


.headingAndBtnSection .heading-section__subheading.subtitle {
    margin-top: 0;
    margin-bottom: 32px;
}

.headingAndBtnSection .heading-section__subheading.subtitle.is-text {
    line-height: 26px;
}

.headingAndBtnSection a.headinSecBtn.button.button--primary {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 54px;
    min-width: 216px;
}

/* index heading section css code end  */

/* image with text section css code start  */
.hasRoundedBorder .image-with-text__image-column,
.hasRoundedBorder .image-with-text__text-column {
    border-radius: 24px;
    overflow: hidden;
}

.image-with-text__text-column .image-with-text__wrapper {
    width: 100%;
    max-width: 436px;
    margin: 0px auto;
}

.image-with-text__text-column h2.preHeadingTxt.is-h5 {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 43px;
}

.image-with-text__text-column h2.preHeadingTxt {
    margin-bottom: 16px;
}

.image-with-text__text-column h3.image-with-text__heading {
    padding: 0;
    margin-bottom: 16px;
}

h3.image-with-text__heading.is-h5 {
    line-height: 35px;
}

.image-with-text__text.content.is-text {
    line-height: 24px;
}

.imageWithTextSection .container {
    flex-wrap: wrap;
    justify-content: space-between;
}

.imageWithTextSection .container .imgTxtCol.one-half.medium-down--one-whole.column {
    width: calc(50% - 8px);
}

.imgTxtCol.imgTxtColChild-1.one-half.medium-down--one-whole.column {
    margin: 0 8px 0 0;
}

.imgTxtCol.imgTxtColChild-2.one-half.medium-down--one-whole.column {
    margin: 0 0 0 8px;
}

/* image with text section css code end  */

/* image with text overlay section css code start  */

.imageWitTextOverlay.hasRoundedCorner .image-with-text-overlay__banner.columns.one-whole {
    width: 100% !important;
    margin: 0px auto !important;
    border-radius: 24px;
    overflow: hidden;
}

.imageWitTextOverlay.customStyleBanner h2.image-with-text-overlay__heading.banner__heading.title.is-h5 {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 44px;
}

.imageWitTextOverlay.customStyleBanner .image-with-text-overlay__buttons.buttons.is-center {
    display: block;
    width: 100%;
}


.imageWitTextOverlay.customStyleBanner a.button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 216px;
    min-height: 54px;
    width: 100%;
    margin: 0px auto;
}


.imageWitTextOverlay.customStyleBanner a.button.button--link-style {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
    font-weight: normal !important;
    border: 0px solid !important;
}


/* image with text overlay section css code end  */


.image-with-text__text.content.is-text-small strong {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
}

.image-with-text__text.content strong {
    position: relative;
}

.image-with-text__text.content strong span.checkIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    position: absolute;

    left: -34px;
}

.image-with-text__text.content strong span.checkIcon svg {
    display: flex;
    width: 100%;
    height: 100%;
}

.image-with-text__text.hasStrong {
    padding-left: 34px;
}

.customImgTextGrids {
    position: relative;
}

.secHedingContainer {
    text-align: center;
    margin-bottom: 40px;
}

.secHedingContainer h2.sectionHeading {
    margin-bottom: 16px;
}

.secHedingContainer h2.sectionHeading.is-h2 {
    line-height: 64px;
}

.secHedingContainer h3.sectionSubHeading.is-text {
    line-height: 26px;
}

.imgTxtGridsContainer {
    width: 100%;
    position: relative;
}

.imgTxtGridsContainer .imgTextGridsRow {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.imgTextGridsRow .imgTxtGridCol {
    width: calc(33.33% - 10px);
    margin-right: 15px;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 23%);
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    min-height: 207px;
    margin-bottom: 40px;
}

.imgTextGridsRow .imgTxtGridCol:nth-child(3n) {
    margin-right: 0;
}

.imgTextGridsRow .imgTxtGridCol .gridTxtCol {
    width: calc(100% - 140px);
    max-width: 238px;
}

.imgTextGridsRow .gridSIdeImg {
    height: 176px;
    width: 176px;
    padding: 15px;
    align-self: flex-start;
}

.imgTextGridsRow .gridSIdeImg img.boxImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h4.gridSectionHeading.is-h5 {
    line-height: 33px;
}

h4.gridSectionHeading {
    max-width: 235px;
    margin-bottom: 8px;
}

.gridText.is-text {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 23px;
}

a.secBtn.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 5px;
    max-width: 100%;
    min-width: 216px;
    min-height: 54px;
    margin: 20px auto 0 auto;
}

/* =============================== HOME PAGE END ===============================  */