@font-face {
    font-family: 'BirthstoneBounce-Medium';
    src: url('https://cdn.shopify.com/s/files/1/0846/1815/0171/files/BirthstoneBounce-Medium.ttf?v=1707498967') format('ttf'),
        url("https://cdn.shopify.com/s/files/1/0846/1815/0171/files/BirthstoneBounce-Medium.woff2?v=1707763039") format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* common css code start  */
.hideScroll,
body.hideScroll {
    overflow: hidden !important;
}

html,
body {
    scroll-behavior: smooth;
}


/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f15d5e;
    border-radius: 20px;
    width: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f15d5e;
}

.is-width-standard {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0px auto !important;
    padding: 0 48px;
}

.is-width-small {
    width: 100% !important;
    max-width: 1440px !important;
    padding: 0 162px !important;
    margin: 0px auto !important;
}

.bannerCaptionContainer.caption {
    width: 100%;
    max-width: 100%;
    padding: 0 48px !important;
}

img.boxImg {
    display: block;
    width: 100%;
    height: auto;
}

a.button,
button.button {
    font-size: 16px !important;
    font-weight: 600 !important;
    letter-spacing: 0 !important;
    line-height: 22px !important;
    text-align: center !important;
}

.hiddenItem {
    display: none !important;
}

/* common css code end  */

/* header css code start  */
a.header__link.specialLoginBtn span.icon-caption {
    display: inline;
}

a.header__link.specialLoginBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-width: 122px;
    min-height: 46px;
    border-radius: 15px;
    background: linear-gradient(315deg, #F15D5E 0%, #EDF67D 100%);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
}

a.header__link.specialLoginBtn span.icon.header__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    margin-right: 4px;
}

a.header__link.specialLoginBtn span.icon.header__icon svg {
    width: 100%;
    height: 100%;
}

.header-cart.action-area__link {
    display: none !important;
}

.header--classic nav.header__menu-items.is-justify-start {
    margin-left: 48px;
}

header.header {
    border-radius: 0 0 24px 24px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

div.header-sticky-wrapper {
    min-height: 112px;
}

#shopify-section-header-classic {
    position: relative;
    z-index: 55;
}

/* header css code end  */

/* dropdown css code start  */
.navbar-dropdown {
    background: transparent;
    padding: 0 !important;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    max-width: 350px !important;
    min-width: 0 !important;
    padding-top: 29px !important;
}

.navbar-item.header__item.has-dropdown.has-dropdown--vertical.is-hoverable {
    position: relative;
}

.navbar-dropdown .navBarInnerItems {
    border-radius: 16px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
    padding: 24px 10px;
    min-width: 138px !important;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navbar-dropdown .navBarInnerItems a.navbar-item {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
    font-weight: normal;
    padding: 0 !important;
    width: 100%;
    display: flex !important;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.navbar-dropdown .navBarInnerItems a.navbar-item:last-child {
    margin-bottom: 0 !important;
}


.navbar-item.header__item.has-dropdown a.navbar-link.header__link::after {
    display: none !important;
}

a.navbar-link.header__link {
    padding: 0 !important;
}

.navbar-item.header__item {
    margin-right: 40px;
}

/* dropdown css code end  */

/* =============================== HOME PAGE START ===============================  */

/* slide show hero section css code start  */
.bannerCaptionContainer .caption-content {
    padding: 20px 0;
}

a.button {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
}

.bannerCaptionContainer h2.slideshow-classic__heading.banner__heading.title.is-h1 {
    line-height: 85px;
}

.bannerCaptionContainer h2.slideshow-classic__heading.banner__heading.title {
    margin-bottom: 8px;
}

.bannerCaptionContainer .slideshow-classic__subheading.banner__subheading.subtitle {
    margin-top: 0;
    margin-bottom: 32px;
}

.slideshow-classic__subheading.banner__subheading.subtitle.is-h5 {
    line-height: 35px;
}


.bannerCaptionContainer.caption a.button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 54px;
    min-width: 216px;
}

.mainSlideShowSec .customStyleSlideShow .slideshow-classic__banner.columns.one-whole {
    border-radius: 24px;
    width: 95%;
    margin: 0 8px;
}


button.flickity-button.previous svg.arrowIcon {
    transform: scaleX(-1);
}

button.flickity-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    outline: none !important;
    border: 0px solid !important;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
    box-shadow: none !important;
}

button.flickity-button svg.arrowIcon {
    width: 30px;
    height: 30px;
}

.mainSlideShowSec button.flickity-button {
    top: 50% !important;
    transform: translateY(-50%);
}

ol.flickity-page-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

ol.flickity-page-dots li.dot {
    opacity: 0.4;
    height: 6px;
    width: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6px;
}

ol.flickity-page-dots li.dot.is-selected {
    height: 10px;
    width: 10px;
}

.mainSlideShowSec .customStyleSlideShow ol.flickity-page-dots {
    position: relative !important;
    width: 100% !important;
    top: unset !important;
    bottom: unset !important;
    margin: 24px 0 !important;
}

.mainSlideShowSec .customStyleSlideShow .flickity-prev-next-button.previous {
    left: 28px;
}

.mainSlideShowSec .customStyleSlideShow .flickity-prev-next-button.next {
    right: 28px;
}

/* slide show hero section css code end */

/* featured collection product section css code start  */

h3.secSubHeading {
    display: flex;
    align-items: center;
}


.container.featuredCollectionHeading.align-center {
    text-align: center;
    justify-content: center;
    width: 100%;
}

.container.featuredCollectionHeading.align-left {
    text-align: left;
    justify-content: flex-start;
}

.container.featuredCollectionHeading.align-right {
    text-align: right;
    justify-content: flex-end;
}

.featuredCollecionSec.is-width-wide.hasSlider {
    padding-left: 48px;
}

.container.featuredCollectionHeading.align-center {
    max-width: 600px;
    margin-bottom: 40px;
}

.featuredCollectionHeading .heading-wrapper--featured-collection {
    margin-bottom: 16px;
}

.featuredCollectionHeading h3.secSubHeading.is-text {
    line-height: 26px;
}

.featuredCollectionItemContainer .one-fourth.medium-down--one-half.small-down--one-whole.column.thumbnail {
    margin-left: 0 !important;
    margin-right: 16px !important;
    width: calc(24.5% - 16px);
    padding: 0 !important;
}

button.flickity-button.flickity-prev-next-button[disabled] {
    opacity: 0 !important;
}

.featuredCollecionSec button.flickity-button.flickity-prev-next-button.next {
    height: 40px;
    width: 40px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2) !important;
}

.featuredCollecionSec button.flickity-button.flickity-prev-next-button.next {
    right: 28px;
}

.featuredCollecionSec button.flickity-button.flickity-prev-next-button.previous {
    left: 0;
}

.product__thumbnail .product-image__wrapper {
    border-radius: 16px;
    overflow: hidden;
    position: relative;
}


.product-thumbnail {
    padding: 0;
    margin-top: 16px;
}

.product-thumbnail a.is-h6.product-thumbnail__title {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 23px;
}

.prodAttributeItems {
    margin-top: 5px;
    color: #463F3A;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    opacity: .6;
}

.prodAttributeItems span:not(:last-child)::after {
    content: "";
    height: 4px;
    width: 4px;
    opacity: 0.6;
    background-color: #463F3A;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
}

.prodAttributeItems span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.featuredCollecionSec .buttons {
    margin-top: 40px;
}

.featuredCollecionSec .buttons a.button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 54px;
    min-width: 224px;
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
}

.featuredCollecionSec .buttons a.button.button--primary {
    border: 1px solid #463F3A;
}

.purchase-details__buttons button.button.quickAddBtn {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    border-radius: 16px;
    background-color: #FFFFFF;
    border: 1px solid #fff;
    color: #463F3A;
}

.purchase-details__buttons button.button.quickAddBtn span.text.btnTxtWithPrice {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 25px;
    height: 25px;
}

.purchase-details__buttons button.button.quickAddBtn span.text.btnTxtWithPrice svg {
    width: 100%;
    height: 100%;
}

.product__thumbnail .product-image__wrapper form.shopify-product-form {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px;
    width: 100%;
    align-items: flex-end;
    z-index: 8;
}

/* featured collection product section css code end  */

/* index heading section css code start  */
.headingAndBtnSection .headingTopImg {
    width: 100%;
    max-width: 483px;
    margin-bottom: 38px;
}

.headingAndBtnSection .heading-section__content.is-align-center.text-align-center {
    max-width: 664px;
    margin: 0px auto;
}

.headingAndBtnSection h2.heading-section__heading.title.is-h3 {
    line-height: 54px;
}

.headingAndBtnSection h2.heading-section__heading.title {
    margin-bottom: 16px;
}


.headingAndBtnSection .heading-section__subheading.subtitle {
    margin-top: 0;
    margin-bottom: 32px;
}

.headingAndBtnSection .heading-section__subheading.subtitle.is-text {
    line-height: 26px;
}

.headingAndBtnSection a.headinSecBtn.button {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 54px;
    min-width: 216px;
}

/* index heading section css code end  */

/* image with text section css code start  */
.hasRoundedBorder .image-with-text__image-column,
.hasRoundedBorder .image-with-text__text-column {
    border-radius: 24px;
    overflow: hidden;
}

.image-with-text__text-column .image-with-text__wrapper {
    width: 100%;
    max-width: 436px;
    margin: 0px auto;
}

.image-with-text__text-column h2.preHeadingTxt.is-h5 {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 43px;
}

.image-with-text__text-column h2.preHeadingTxt {
    margin-bottom: 16px;
}

.image-with-text__text-column h3.image-with-text__heading {
    padding: 0;
    margin-bottom: 16px;
}

h3.image-with-text__heading.is-h5 {
    line-height: 35px;
}

.image-with-text__text.content.is-text {
    line-height: 24px;
}

.imageWithTextSection .container {
    flex-wrap: wrap;
    justify-content: space-between;
}

.imageWithTextSection .container .imgTxtCol.one-half.medium-down--one-whole.column {
    width: calc(50% - 8px);
}

.imgTxtCol.imgTxtColChild-1.one-half.medium-down--one-whole.column {
    margin: 0 8px 0 0;
}

.imgTxtCol.imgTxtColChild-2.one-half.medium-down--one-whole.column {
    margin: 0 0 0 8px;
}

/* image with text section css code end  */

/* image with text overlay section css code start  */

.imageWitTextOverlay.hasRoundedCorner .image-with-text-overlay__banner.columns.one-whole {
    width: 100% !important;
    margin: 0px auto !important;
    border-radius: 24px;
    overflow: hidden;
}

.imageWitTextOverlay.customStyleBanner h2.image-with-text-overlay__heading.banner__heading.title.is-h5 {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 44px;
}

.imageWitTextOverlay.customStyleBanner .image-with-text-overlay__buttons.buttons.is-center {
    display: block;
    width: 100%;
}


.imageWitTextOverlay.customStyleBanner a.button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 216px;
    min-height: 54px;
    width: 100%;
    margin: 0px auto;
}


.imageWitTextOverlay.customStyleBanner a.button.button--link-style {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
    font-weight: normal !important;
    border: 0px solid !important;
}


/* image with text overlay section css code end  */


.image-with-text__text.content.is-text-small strong {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
}

.image-with-text__text.content strong {
    position: relative;
}

.image-with-text__text.content strong span.checkIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    position: absolute;

    left: -34px;
}

.image-with-text__text.content strong span.checkIcon svg {
    display: flex;
    width: 100%;
    height: 100%;
}

.image-with-text__text.hasStrong {
    padding-left: 34px;
}

.customImgTextGrids {
    position: relative;
}

.secHedingContainer {
    text-align: center;
    margin-bottom: 40px;
}

.secHedingContainer h2.sectionHeading {
    margin-bottom: 16px;
}

.secHedingContainer h2.sectionHeading.is-h2 {
    line-height: 64px;
}

.secHedingContainer h3.sectionSubHeading.is-text {
    line-height: 26px;
}

.imgTxtGridsContainer {
    width: 100%;
    position: relative;
}

.imgTxtGridsContainer .imgTextGridsRow {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.imgTextGridsRow .imgTxtGridCol {
    width: calc(33.33% - 10px);
    margin-right: 15px;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 23%);
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    min-height: 207px;
    margin-bottom: 40px;
}

.imgTextGridsRow .imgTxtGridCol:nth-child(3n) {
    margin-right: 0;
}

.imgTextGridsRow .imgTxtGridCol .gridTxtCol {
    width: calc(100% - 140px);
    max-width: 238px;
}

.imgTextGridsRow .gridSIdeImg {
    height: 176px;
    width: 176px;
    padding: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    align-self: flex-start;
}

.imgTextGridsRow .gridSIdeImg img.boxImg {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

h4.gridSectionHeading.is-h5 {
    line-height: 33px;
}

h4.gridSectionHeading {
    max-width: 235px;
    margin-bottom: 8px;
}

.gridText.is-text {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 23px;
}

a.secBtn.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 5px;
    max-width: 100%;
    min-width: 216px;
    min-height: 54px;
    margin: 20px auto 0 auto;
}


/* testiomonial section css code start  */
.custTestimonialSec {
    position: relative;
    width: 100%;
}

.testimonialCarouselContainer {
    width: 100%;
    max-width: 872px;
    margin: 80px auto 0 auto;
}

.customTestimonialContainer {
    position: relative;
    width: 100%;
    margin: 0px auto;
    max-width: 700px;
}

.testimonialCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 2px;
    position: relative;
    margin: 30px auto 25px auto;
}

.testimonialCardInnerContent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 16px;
}

.roundClientImg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    overflow: hidden;
    background: linear-gradient(315deg, #F15D5E 0%, #EDF67D 100%);
    padding: 2px;
    margin-top: -40px;
    position: relative;
    z-index: 2;
}

.roundClientImg img.boxImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}


.testimonialTextContent {
    text-align: center;
    width: 100%;
    padding: 40px 48px;
}

.testimonialTextContent h3.testimonialTitle {
    margin-bottom: 16px;
}

.testimonialMessage.is-text {
    letter-spacing: 0;
    line-height: 25px;
}

h4.clientName {
    text-align: center;
    margin-top: 16px;
}

h4.clientName.is-text {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 21px;
}

.testiomonialAllCardsContainer {
    width: 100%;
    position: relative;
}

.testimonialCard.emptyCard1,
.testimonialCard.emptyCard2 {
    position: absolute;
    top: 50%;
    margin: 0;
    width: 100%;
}

.testimonialCard.contentCard {
    position: relative;
    z-index: 2;
    transform: scale(.9);
}

.testimonialCard.emptyCard2 {
    height: 70%;
    transform: translateY(-50%) scale(.95);
    z-index: 1;
}

.testimonialCard.emptyCard1 {
    z-index: 0;
    height: 50%;
    transform: translateY(-50%);
}

.customTestimonialContainer button.flickity-button.flickity-prev-next-button {
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2) !important;
}

.customTestimonialContainer button.flickity-button.flickity-prev-next-button.next {
    right: -60px;
}

.customTestimonialContainer button.flickity-button.flickity-prev-next-button.previous {
    left: -60px;
}

/* testiomonial section css code end  */

/* =============================== HOME PAGE END ===============================  */


/* footer section css code start  */
.container.has-padding-top.footerBottomRow {
    text-align: center;
    padding-top: 40px;
}

.footer__credits.is-text-small.one-whole.column.small-down--one-whole {
    width: 100%;
    margin: 0px auto !important;
    max-width: 100%;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    text-align: center;
}

a.footer__logo-wrapper.has-padding-bottom.is-medium {
    max-width: 210px;
}

p.footer__heading.is-h6 {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 23px;
    padding: 0;
    margin-bottom: 20px;
}

.footer__menu li.footer__menu-link {
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 14px;
}

.newsletter-form__wrapper .newsletter-form.form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    position: relative;
}

.newsletter-form__wrapper .newsletter-form.form .field.is-default-width.is-align-self-end {
    z-index: 2;
    flex: 1;
    min-width: 0;
    margin: 0px auto;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.newsletter-form__wrapper .newsletter-form.form .field.is-stretched-width {
    width: 100%;
    max-width: 100%;
    flex: 1 0 100%;
    margin: 0 !important;
}

.newsletter-form__wrapper .newsletter-form.form .field.is-stretched-width .control {
    width: 100% !important;
}

.newsletter-form__wrapper .newsletter-form.form .field.is-stretched-width .control input.input.is-primary-btn-style {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 54px;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
    color: #463F3A;
    padding: 5px 16px;
}

.newsletter-form__wrapper .newsletter-form.form .field.is-stretched-width .control input.input.is-primary-btn-style::placeholder {
    color: #463F3A;
    opacity: .4;
}

.newsletter-form__wrapper .newsletter-form.form .field.is-default-width.is-align-self-end .control {
    width: 100%;
    height: 100%;
    background: transparent;
    color: inherit;
    border: 0px solid !important;
    outline: none !important;
    padding: 0;
    cursor: pointer;
}

.newsletter-form__wrapper .newsletter-form.form .field.is-default-width.is-align-self-end .control svg.arrowIcon {
    width: 100%;
    height: 100%;
}

.footer__block.block__newsletter.medium-down--one-whole.column.four {
    max-width: 324px;
}

.shopify-section.footer.footer--classic {
    border-radius: 24px 24px 0 0;
    box-shadow: 0 -10px 20px 0 rgba(0, 0, 0, 0.05);
}

/* footer section css code end  */


/* =========== POPUP SECTION CSS CODE START =========== */


.popup__wrapper {
    min-height: 470px;
    border-radius: 16px;
}

.popup__inner.is-flex {
    display: flex;
    width: 100%;
    min-height: 470px;
    padding: 16px;
}

.popup__inner.is-flex .popup__image {
    min-width: 438px;
    width: 100%;
    border-radius: 16px;
    height: 438px;
    overflow: hidden;
    max-width: 438px;
}

.popup__inner.is-flex .popup__image .image-element__wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 16px;
}

.popup__inner.is-flex .popup__image .image-element__wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup__content {
    padding: 40px !important;
    width: 100%;
}

h3.popup__title.title.is-h5 {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 43px;
}

h3.popup__title.title {
    margin-bottom: 16px;
}

.popup__text.subtitle.is-text {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.popup__text.subtitle {
    margin-bottom: 24px;
    margin-top: 0;
}

.popup__newsletter.newsletter-section--popup {
    padding-top: 0;
}

.popup__inner.is-flex.text-align-left.image-position-left .popup__content {
    width: calc(100% - 438px) !important;
    min-width: 400px !important;
    padding: 30px 10px 40px 40px !important;
    flex: 50%;
}

.popup__wrapper.has-image.image-position-left.fancybox-content {
    width: 100%;
    max-width: 924px !important;
}

.field.is-default-width.is-align-self-end.showOriginalBtn {
    position: relative !important;
    transform: none !important;
    width: 100% !important;
    margin: 20px auto !important;
    left: 0 !important;
}

.newsletter-form.form {
    width: 100%;
    display: block !important;
}

.newsletter-form .field.is-default-width .button button.button.button--primary.is-within-form {
    width: 100%;
    max-width: 100%;
    min-width: 0 !important;
}

.field.is-default-width.is-align-self-end.showOriginalBtn button.button.is-within-form {
    min-height: 54px;
    max-width: 100%;
    width: 100%;
}

button.close.popup__close {
    max-height: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
    max-width: none !important;
    margin: 16px;
}

button.close.popup__close svg {
    width: 40px;
    height: 40px;
    color: #28303F;
}

/* =========== POPUP SECTION CSS CODE END =========== */

/* =========== ABOUT PAGE CSS CODE START =========== */
.heroBanner .image-with-text-overlay__subheading.banner__subheading.subtitle {
    margin-top: 0;
}

.heroBanner .caption-content.text-align-center {
    padding: 0;
    max-width: 438px;
    margin: 0px auto;
}

.heroBanner h2.image-with-text-overlay__heading.banner__heading.title {
    margin-bottom: 16px;
}


.iconsWithTextColSections .container {
    align-items: flex-start;
    justify-content: flex-start;
}

.iconsWithTextColSections .container .icon-with-text-column__column.has-gutter.column.has-padding.one-third.text-align-center.medium-down--one-whole {
    padding: 0;
    margin-bottom: 62px;
    margin-left: 0;
    margin-right: 24px;
    width: calc(33.33% - 16px);
}

.iconsWithTextColSections .container .icon-with-text-column__column.has-gutter.column.has-padding.one-third.text-align-center.medium-down--one-whole:nth-child(3n) {
    margin-right: 0 !important;
}

h3.icon-column__title.title.is-h6 {
    font-weight: bold;
    line-height: 24px;
}

h3.icon-column__title.title {
    margin-bottom: 8px;
}


.icon-column__text .subtitle.content {
    margin-top: 0;
}

.columnBoxIcon {
    height: 48px;
    width: 72px;
    margin: 0px auto 16px auto;
}

.columnBoxIcon img.boxImg {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.customAboutHeading .headingTopImg {
    max-width: 212px;
    margin-bottom: 24px;
}

.customAboutHeading .heading-section__content.is-flex.is-flex-column.is-align-center.text-align-center {
    max-width: 436px;
}

.customAboutHeading .heading-section__subheading.subtitle.is-text {
    line-height: 24px;
}

.customAboutHeading .heading-section__subheading.subtitle {
    margin-bottom: 32px;
}

.cusIconTxtBoxesSection {
    position: relative;
}

.mainIconTxtBoxesContainer {
    width: 100%;
    max-width: 100%;
    position: relative;
    margin: 0px auto;
}

.iconTxtBoxesRow {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    column-gap: 16px;
    row-gap: 40px;
}

.iconTxtBoxCardCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.iconTxtCardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    text-align: center;
    padding: 16px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

.iconTxtBoxCardCol.one-whole .iconTxtCardContent {
    width: 100%;
    max-width: 664px;
}

.iconImgBox {
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;
    margin-top: -50px;
}

.iconImgBox img.boxImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.innerTextContent {
    margin: 24px auto 24px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 130px;
}

h3.cardHeading.is-h6 {
    font-weight: bold;
    line-height: 23px;
    text-align: center;
}

h3.cardHeading {
    margin-bottom: 8px;
}

.cardSubText.is-small {
    line-height: 21px;
    text-align: center;
}

/* =========== ABOUT PAGE CSS CODE END =========== */


/* =========== Weekly MENU PAGE CSS CODE START =========== */

.customMenuProdTabsSection {
    width: 100%;
    position: relative;
}

.tabBtnsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabBtnsContainer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    max-width: 100%;
    margin: 0px auto;
    border: 1px solid #463F3A;
    border-radius: 15px;
    background-color: #FFFFFF;
    min-width: 213px;
    min-height: 55px;
}

.tabBtnsContainer button.tabBtn {
    width: max-content;
    max-width: 100px;
    min-width: 70px;
    min-height: 49px;
    border-radius: 12px;
    border: 0px solid !important;
    cursor: pointer;
    transition: all linear .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: #463f3a;
    background: transparent;
}

.tabBtnsContainer button.tabBtn span {
    font-size: 10px;
    letter-spacing: 0;
    line-height: 13px;
    text-align: center;
}

.tabBtnsContainer button.tabBtn span.strong {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 16px;
    text-align: center;
    margin-top: 4px;
}

.tabBtnsContainer button.tabBtn.active {
    background: linear-gradient(315deg, #F15D5E 0%, #EDF67D 100%);
    cursor: pointer;
}

.tabContentsContainer {
    display: block;
    width: 100%;
    position: relative;
    margin: 40px auto;
}

.tabContentsContainer.bigSection {
    min-height: 80vh;
}

.weeklyMenuTabItem h2.tabMenuTitle {
    text-align: center;
    margin-bottom: 16px;
}

.tabMenuDesc {
    text-align: center;
    margin-bottom: 40px;
}

.collectionItemsRow {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.collectionItemsRow .one-third.medium-down--one-half.small-down--one-half.column.thumbnail.product__thumbnail {
    width: calc(33.333% - 10px);
    margin-right: 15px;
    margin-bottom: 40px;
}

.collectionItemsRow .one-third.medium-down--one-half.small-down--one-half.column.thumbnail.product__thumbnail:nth-child(3n) {
    margin-right: 0;
}

.tabContentsContainer {
    display: block;
    width: 100%;
    position: relative;
    margin: 40px auto;
}

.weeklyMenuTabItem h2.tabMenuTitle {
    text-align: center;
    margin-bottom: 16px;
}

.tabMenuDesc {
    text-align: center;
    margin-bottom: 40px;
}

.collectionItemsRow {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.collectionItemsRow .one-third.medium-down--one-half.small-down--one-half.column.thumbnail.product__thumbnail {
    width: calc(33.333% - 10px);
    margin-right: 15px;
    margin-bottom: 40px;
}

.collectionItemsRow .one-third.medium-down--one-half.small-down--one-half.column.thumbnail.product__thumbnail:nth-child(3n) {
    margin-right: 0;
}

.primarySec.imageWithTextSection .container {
    flex-wrap: nowrap;
    justify-content: space-between;
    column-gap: 50px;
}

.primarySec.imageWithTextSection .container .imgTxtCol {
    width: 100% !important;
    margin: 0;
}

section.section.primarySec.imageWithTextSection.is-width-small .imgTxtCol.imgTxtColChild-1 {
    max-width: 438px;
    margin: 0;
}

section.section.primarySec.imageWithTextSection.is-width-small .imgTxtCol.imgTxtColChild-2 {
    max-width: 436px !important;
    margin: 0;
    padding: 0 !important;
}

.primarySec a.button.button--primary {
    background: linear-gradient(315deg, #F15D5E 0%, #EDF67D 100%) !important;
    min-height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #463F3A !important;
}

button.customLoadMoreBtm.button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 243px;
    padding: 8px;
    min-height: 54px;
    margin: 0px auto;
    text-align: center;
}

.addOnsContainer {
    width: 100%;
    position: relative;
    max-width: 100%;
    margin-top: 64px;
}

span.deliveryTimeLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 16px;
    width: 108px;
    height: 32px;
    border-radius: 29px;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 8;
    color: #463F3A;
}

span.deliveryTimeLabel svg {
    height: 24px;
    width: 24px;
    margin-right: 8px;
}

.has-thumbnail-sticker.product__thumbnail .thumbnail-sticker {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px !important;
    width: 107px !important;
    border-radius: 29px;
    background: rgba(255, 255, 255, .9) !important;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 16px;
    text-align: center;
    color: #463F3A;
    margin-bottom: 15px;
}

.has-thumbnail-sticker.product__thumbnail .thumbnail-sticker span.sticker-text {
    color: #463F3A !important;
}

.sticker-holder.sticker-shape-square {
    padding: 8px;
}

/* product ingredients popup css code start  */
.prodIngPopup {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-height: 100vh;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: all linear .3s;
    height: max-content;
    overflow-y: auto;
    min-height: 100vh;
    background: rgba(70, 63, 58, 0.8);
}


.popupInnerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 55;
    max-width: 924px;
    height: max-content;
    border-radius: 16px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    margin: 91px auto;
}


.popupContent {
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
}

.popupBannerArea {
    width: 100%;
    position: relative;
}

.prodIngPopup.openIt {
    z-index: 55555;
    visibility: visible;
    opacity: 1;
}

.popupBannerContent {
    padding: 24px 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.popupBannerContent .popupBannerOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0 0 0 / 89%) 98.4%);
    z-index: 0;
    min-height: 130px;
}

.popupBannerContent h3.is-h6 {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 44px;
    position: relative;
    z-index: 2;
}

.popupPillsBtns {
    position: relative;
    z-index: 2;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.popupPillsBtns span {
    min-width: 86px;
    border-radius: 29px;
    background-color: #FFFFFF;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 21px;
    padding: 5px;
    color: #463F3A;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 13px;
    margin-right: 4px;
}

.popupBodyContent {
    padding: 16px;
}

.popupBoxContent {
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 24px;
    margin-bottom: 8px;
}

.popupBoxContent h4.is-h6 {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 26px;
    margin-bottom: 16px;
    color: #463F3A;
}

.prodDescription .is-small {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 25px;
    color: #463F3A;
}

.popupBannerArea img.boxImg {
    max-height: 450px;
    object-fit: cover;
}

.ingredientsRow {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ingredientCol {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(50% - 10px);
    margin-bottom: 14px;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
}

.ingredientCol img.boxImg {
    height: 24px;
    width: 24px;
    margin-right: 8px;
    border-radius: 100%;
    object-fit: cover;
}

.nutritionRows {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}

.nutritionItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    width: 100%;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
    color: #463F3A;
    padding: 4px;
    min-height: 24px;
}

.nutritionRows .nutritionItem:nth-child(odd) {
    background: rgba(70, 63, 58, .05) !important;
}

a.popupBtn.button.button-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: #463F3A;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
    background: linear-gradient(315deg, #F15D5E 0%, #EDF67D 100%);
    width: 100%;
    min-height: 54px;
    padding: 10px;
}

/* product ingredients popup css code end  */

/* =========== Weekly MENU PAGE CSS CODE END =========== */